.aboutMe {
    padding: 25px 25px;
    margin: 0;
} 

.aboutMe h2 {
    font-size: 25px;
}

.aboutMe h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    
}

.aboutMe p {
    padding: 0;
    font-size: 16px;
    margin-top: 0;
}



@media only screen and (min-width: 800px) {
    .aboutMe {
        padding: 50px 25vw;
        margin: 0;       
    } 

    .aboutMe h2 {
        font-size: 35px;
    }

    .aboutMe h3 {
        font-size: 25px;
        
    }

    .aboutMe p {

        font-size: 20px;
    }
    

  }

