.featuredProjects {
    padding: 50px 25px;
    margin: 0;
    height: 50vh;
} 

.featuredProjects h1 {
    font-size: 25px;

}

@media only screen and (min-width: 800px) {
    .featuredProjects {
        padding: 50px 25vw;
        margin: 0;
        background-color: var(--background);
        height: 500px;
    } 
   
  }