.featuredProjects {
    padding: 50px 25px;
    margin: 0;
} 

.featuredProjects h1 {
    font-size: 25px;

}

.projectImg {
    border-radius: 5px;
    border: 2px solid black!important;
}

.projectBox {
    margin: 50px 0px;
}

@media only screen and (min-width: 800px) {
    .featuredProjects {
        padding: 50px 25vw;
    } 

    .featuredProjects h1 {
        font-size: 35px;
    }

    .projectsList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
   
  }