.footer {
  display: grid;
  grid-template-columns: 1r 1fr;
  margin: 0px 25px;
  text-align: center;
}



@media only screen and (min-width: 800px) {
    
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 25vw;
    text-align: left;
}
  }


   