.footer {
  display: grid;
  grid-template-columns: 1r;
  padding: 20px 25px 30px;
  margin: 0 auto;
  max-width: var(--container);
  text-align: left;
  border-top: 2px solid var(--primary);
  background-color: transparent;

}

.footerTitle {
  font-weight: 500;
  text-align: left;
}

.footerText {
  padding: 0;
  padding: 0px 0px 5px 0px;
  font-weight: 500;
  text-align: center;
  color: var(--muted);

}

.footerSocial {
  text-align: center;
  padding: 15px 0px 0px 0px;
  margin: 0;
  font-family: var(--mono);
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
}

@media only screen and (min-width: 800px) {
    
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px 25px 32px;
    text-align: left;
    
}
.footerText {
  padding: 0;
  font-weight: 500;
  display: flex;
  justify-self: end;
}

.footerSocial {
  text-align: left;
}
  }


   
