.header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 10px 25px;
    align-content: center;
}

.logo {
    margin: 5px 0px 0px 0px;
}

.mainMenu {
    display: flex;
    gap: 20px;
    font-size: 20px;
    justify-content: flex-end;
    align-items: center;
}

.pokeball {
    margin-bottom: -2px!important;
}

@media only screen and (min-width: 800px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 25vw;
    }

    .mainMenu {
        font-size: 25px;
        gap: 30px;

    }
  }

