.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 25px;
    align-content: center;
}

.logo {
    font-size: 35px;
    margin: 0px;
}

.mainMenu {
    display: flex;
    gap: 15px;
    font-size: 20px;
    justify-content: flex-end;
    font-weight: 600;
    align-items: center;
}

@media only screen and (min-width: 800px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0px 25vw;
    }

    .mainMenu {
        gap: 35px;
        font-size: 20px;
    
    }
  }

