.heroSection {
    padding: 50px 25px;
    margin: 0;
    background-color: var(--background);
    height: 55vh;
    display:grid;
grid-template-columns: 1fr;
} 

.heroSection h1 {
    font-size: 25px;
}

.heroSection p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.heroSection .heroMeta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 55px 0px;
    justify-content: center;
}

.location {
    padding-left: 1px;
}

.heroLottie {
    display: none;
}

@media only screen and (min-width: 800px) {
    .heroSection {
        padding: 50px 25vw;
        margin: 0;
        background-color: var(--background);
        height: 570px;
        display:grid;
        grid-template-columns: 2fr 1fr;
    } 

    .heroLottie {
        display: unset;
    }

 

    .heroSection h1 {
        font-size: 35px;
    }
    .heroSection p {
        margin: 0;
        padding: 0;
        font-size: 22px;
    }


  }

