.heroSection {
    padding: 50px 25px;
    margin: 0;
    background-color: var(--background);
    height: 45vh;
} 

.heroSection h1 {
    font-size: 25px;
}

.heroSection p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.heroSection .heroMeta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 85px 0px;
    justify-content: center;
}

.location {
    padding-left: 50px;
}

@media only screen and (min-width: 800px) {
    .heroSection {
        padding: 50px 25vw;
        margin: 0;
        background-color: var(--background);
        height: 80vh;
    } 
    .heroSection h1 {
        font-size: 35px;
    }
    .heroSection p {
        margin: 0;
        padding: 0;
        font-size: 25px;
    }
  }

